<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<meta charset="UTF-8">
<title>Teacher Mypage</title>
</head>
<body>
	<div class="container col-10">
		<div class="row">
			<div class="col-7">
				<h1 class="mt-4 text-danger">HomeTask : Teacher Mypage</h1>
			</div>
			<div class="col">
				<a class="mt-5 btn btn-secondary"
					th:href="@{/teacher/update/{id}(id=${session.id})}"> 個人情報編集 </a> <a
					class="mt-5 ml-1 btn btn-primary" th:href="@{/teacher/logout}">
					ログアウト </a>
			</div>
		</div>
		<h3>- 登録個人情報 -</h3>
		<p><font size="5">[[${session.name}]]　[[${session.mail}]]　登録日：[[${#dates.format(session.create, 'yyyy/MM/dd')}]]</font></p>

		<a class="btn btn-danger mb-2" th:href="@{/teacher/addCourse}">コース追加</a>

		<div class="course col-11 mt-2 ">
			<table class="table ">
				<thead>
					<tr>
						<th>No.　</th>
						<th>教室　</th>
						<th>カテゴリ　　　　</th>
						<th>タスク　　　　</th>
						<th>金額　</th>
						<th>概要　　　　　　　　　</th>
						<th>画像　</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="course : ${courseList}">
						<td>[[${course.id}]]</td>
						<td><a th:href="@{/teacher/course/{id}(id=${course.id})}">
								[[${course.name}]]</a></td>
						<td>[[${course.categoryName}]]</td>
						<td>[[${course.taskTime}]]回</td>
						<td>[[${course.price}]]円</td>
						<td>[[${course.summary}]]</td>
						<td th:if="${course.imageName}"><img
							th:src="@{/gallery/{img}(img=${course.imageName})}" width="150"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>