<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="css/style.css">
<meta charset="UTF-8">
<title>Home Task</title>

<style>
.container {
	height: 20px;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	font-size: 70px;
}
</style>
</head>

<body>
	<div class="container text-center">

		<p>HomeTask</p>

		<a th:href="@{/teacher/login}"> <img
			th:src="@{/gallery/TeacherLogin.gif}" width="350" />
		</a> <a th:href="@{/user/login}"> <img
			th:src="@{/gallery/UserLogin.GIF}" width="350" />
		</a>
		<h4 class="mt-2">- Click Your Side -</h4>
	</div>

</body>
</html>